<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453936607100-3bs3qp727unaf5q5dprch6jopcc87gqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453936607100-3bs3qp727unaf5q5dprch6jopcc87gqt</string>
	<key>API_KEY</key>
	<string>AIzaSyCIAsyXOKWI06F5xyb_1uRp2cqZsZ5TTGE</string>
	<key>GCM_SENDER_ID</key>
	<string>453936607100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NxtZen.AWFinder</string>
	<key>PROJECT_ID</key>
	<string>awfinder-93ae8</string>
	<key>STORAGE_BUCKET</key>
	<string>awfinder-93ae8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453936607100:ios:ed422624e97898b7a47ef9</string>
	<key>DATABASE_URL</key>
	<string>https://awfinder-93ae8.firebaseio.com</string>
</dict>
</plist>